.data-img-wrapper {
  grid-column: 1/4;
}

.data-img-wrapper > img {
  width: 100%;
}

.data-text {
  grid-column: 4/-1;
  padding: 1em 2em;
  position: absolute;
  left: -10%;
  max-height: 100%;
  overflow: scroll;
  background-color: rgb(40, 40, 40);
  text-align: left;
}

.data-text::-webkit-scrollbar {
  scrollbar-color: white;
}

@media (max-width: 1250px) {
  .data-img-wrapper {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .data-text {
    grid-row: 2/3;
    position: relative;
    grid-column: 1/-1;
    left: 0;
  }
}
