.herobox {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent,
      #000000
    ),
    url("../../assests/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-image {
  position: absolute;
  z-index: -1;
  transform: translateY(20%);
}

@media (max-width: 375px) {
  .herobox {
    font-size: 0.75rem;
  }
  .herobox > p {
    font-size: 1rem;
  }
}
