header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

.nasa-logo {
  margin: 2em 10em;
}

.header-text {
  position: relative;
}

.header-text::before {
  content: "";
  position: absolute;
  left: -8%;
  top: 4px;
  background-color: #3bd925;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

@media (max-width: 414px) {
  .nasa-logo {
    transform: scale(0.75);
    margin: 1em 2em;
  }
}
